@{ Layout = "_Layout"; }

<div class="card" style=" margin-top: 20%;">
    <div class="card-body">
        <h1 class="text-center text-success"> Your form is submitted successfully.</h1>
    </div>
</div>
