@model EM.Models.UpdateDetails
@{
    Layout = "_LayoutUsers";
}
@{

    ViewData["Title"] = "Index";
}

<link href="//cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css" rel="stylesheet" />


@{ if (!User.Identity.IsAuthenticated)
    {
        Context.Response.Redirect(Url.Action("Login", "Auth"));
    }
}
@if (User.Identity.IsAuthenticated)
{
    @*<style>
            .dataTables_wrapper .dataTables_paginate .paginate_button {
                padding: 0px;
                margin-left: 0px;
                margin-right: 0px;
                display: inline;
                border: 3px;
            }

                .dataTables_wrapper .dataTables_paginate .paginate_button:hover {
                    border: 0px;
                }
        </style>*@


    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <br />
            <div class="row">
                @if (TempData["Error"] != null)
                {
                    <div class="alert alert-danger">
                        @TempData["Error"]
                    </div>
                }
                @if (TempData["Success"] != null)
                {
                    <div class="alert alert-success">
                        @TempData["Success"]
                    </div>
                }
                @if (TempData["Update"] != null)
                {
                    <div class="alert alert-success">
                        @TempData["Update"]
                    </div>
                }
            </div>

            <div class="row">
                <div class="col">
                    <div class="card mt-3 mb-3">
                        <div class="card-header">
                            <div class="row">
                                <div class="col">
                                    <h3 class="card-title mt-1">  Welcome, List of users</h3>

                                </div>
                                <div class="col text-right">
                                    <button type="button" class="btn btn-danger" onclick="addUser(this)">+ Add New User</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col border p-3">
                    <table id="idUserTable" class="table table-bordered  mb-3 " cellspacing="0" width="90%">
                        <thead>
                            <tr>
                                <th>UserId</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Email</th>
                                <th>Edit</th>
                                <th>Delete</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </section>
    <section id="Model1"></section>
    <section id="Model2"></section>
    <section id="Model3"></section>

}

<script src="//cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>

<script>
    $(document).ready(function () {
        $('#idUserTable').DataTable(
            {
                ajax: {
                    url: "GetUserList",
                    type: "POST",
                },
                processing: true,
                serverSide: true,
                filter: true,
                responsive: true,
                columns: [
                    { data: "userId", name: "UserId" },
                    { data: "firstName", name: "FirstName" },
                    { data: "lastname", name: "Lastname" },
                    { data: "emailAddress", name: "EmailAddress" },
                    {
                        "render": function (data, type, full, meta) {
                            return "<a href='#' class='btn btn-info m-auto' onclick=editUser('" + full.userId + "'); >Edit</a>";
                        }
                    },
                    {
                        data: null,
                        render: function (data, type, row) {
                            return "<a href='#' class='btn btn-danger m-auto' onclick=deleteUser('" + row.userId + "'); >Delete</a>";
                        }
                    },
                ],

            }
        );
    });
    function addUser() {
        $.ajax({
            url: '/Users/AddUserModel',
            type: 'GET',
            success: function (response) {
                $('#Model1').html(response);
                $('#idAddUser').modal("show");
            }
        });
    }
    function deleteUser(userId) {
        debugger;
        var id = userId;
        $.ajax({
            url: '/Users/DeleteUserModel',
            type: 'GET',
            data: { "id": id },
            success: function (response) {
                $('#Model2').html(response);
                $('#idDeleteUser').modal("show");
            }
        });
    }
    function editUser(userId) {
        var id = userId;
        $.ajax({
            url: '/Users/EditUserModel',
            type: 'GET',
            data: { "id": id },
            success: function (response) {
                debugger;
                $('#Model3').html(response);
                $('#idEditUser').modal("show");
            },
            error: function (error) {
                console.log(error);
            }
        });
    }
</script>
