@model EM.Entity.User

@{
    Layout = "_LayoutUsers";
}
@{

    ViewData["Title"] = "Index";
    //var returnurl = ViewData["ReturnUrl"] as string;
}

<link href="//cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css" rel="stylesheet" />

@{ if (!User.Identity.IsAuthenticated)
    {
        Context.Response.Redirect(Url.Action("Login", "Auth"));
    } }
@if (User.Identity.IsAuthenticated)
{
    <div class="text-center pt-5 mb-5">
        <h1> Index Page </h1>
    </div>
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">  Welcome, List of users</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <div class="table-responsive">
                                <table id="idUserTable" class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>UserId</th>
                                            <th>First Name</th>
                                            <th>Last Name</th>
                                            <th>Email</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}

 

<script src="//cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
<script>
    $(document).ready(function () {
        $('#idUserTable').DataTable(
            {
                ajax: {
                    url: "GetUserList",
                    type: "POST",
                },
                processing: true,
                serverSide: true,
                filter: true,
                columns: [
                    { data: "userId", name: "UserId" },
                    { data: "firstName", name: "FirstName" },
                    { data: "lastname", name: "Lastname" },
                    { data: "emailAddress", name: "EmailAddress" },
                ],
                "aoColumnDefs": [
                    {
                        "targets": [4],
                        "visible": true,
                        "width": 125,
                        "class": 'text-center',
                        "searchable": false,
                        "render": function (data, type, full, meta) {
                            return '<a style="cursor:pointer;" class="actionIcon icon_history" title="View History" onClick="return Edit(' + full.userId + ')"><i class="fa fa-history"></i></a>'
                                + '<a style="cursor:pointer;" class="actionIcon icon_view" onClick="return Delete(' + full.userId + ')">&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-eye"></i></a>'
                        },
                    }
                ]
            }
        );
    });</script>
