@model EM.Entity.Doctor

<div class="modal-content">
    <!-- Modal Header -->
    <div class="modal-header">
        <h3 class="modal-title m-auto text-secondary">
            <b> Update Doctor's Details </b>
        </h3>
    </div>
    <!-- Modal body -->
    <div class="modal-body">
        <!-- New user registration form -->
        <form id="frmDoctors" method="post">
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            <input asp-for="DoctorId" hidden class="form-control" />
            <div class="form-group">
                <div class="input-group">
                    <input type="text" asp-for="FirstName" class="form-control" placeholder="First Name" onkeydown="return /[a-z]/i.test(event.key)" disabled>
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-user"></span>
                        </div>
                    </div>
                </div>
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <input type="text" asp-for="Lastname" class="form-control" placeholder="Last Name" onkeydown="return /[a-z]/i.test(event.key)" disabled>
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-user"></span>
                        </div>
                    </div>
                </div>
                <span asp-validation-for="Lastname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <input type="email" asp-for="EmailAddress" class="form-control" placeholder="Enter email" disabled>
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-envelope"></span>
                        </div>
                    </div>
                </div>
                <span asp-validation-for="EmailAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <input type="number" asp-for="PhoneNumber" class="form-control" placeholder="Enter Phone Number">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-envelope"></span>
                        </div>
                    </div>
                </div>
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <input type="number" asp-for="Pincode" class="form-control" placeholder="Enter Pincode">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-envelope"></span>
                        </div>
                    </div>
                </div>
                <span asp-validation-for="Pincode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <input type="text" asp-for="Address" class="form-control" placeholder="Enter Address">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-envelope"></span>
                        </div>
                    </div>
                </div>
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <select class="select2" multiple="multiple" data-placement="Select Speciality" style="width: 100%;" asp-for="SpecialityId" id="idSpecialities">
                    <option value="1" disabled>Select Speciality</option>
                    <option value="2" id="idNuero">Nuero Surgon</option>
                    <option value="3" id="idOrtho">Orthopedic Surgon</option>
                    <option value="4" id="idENT">ENT Specilaist</option>
                    <option value="5" id="idEye">Eye Specialist</option>
                </select>
                <span asp-validation-for="SpecialityId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <select class="form-select form-control" asp-for="Color">
                    <option disabled selected value="0"> Choose Color</option>
                    <option value="1"> Red </option>
                    <option value="2"> Blue </option>
                    <option value="3"> Green </option>
                </select>
                <span asp-validation-for="Color" class="text-danger"></span>
            </div>
            <div class="form-group">
                <select class="form-select form-control" asp-for="CityID">
                    <option disabled selected value="0"> Choose City</option>
                    <option value="1"> Ahemdabad </option>
                    <option value="2"> Mumbai </option>
                </select>
                <span asp-validation-for="CityID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <select class="form-select form-control" asp-for="StateID">
                    <option disabled selected value="0"> Choose State</option>
                    <option value="1"> Gujarat </option>
                    <option value="2"> Maharashtra </option>
                </select>
                <span asp-validation-for="StateID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <select class="form-select form-control" asp-for="CountryID">
                    <option disabled selected value="0"> Choose Country</option>
                    <option value="1"> India </option>
                    <option value="2"> Bharat </option>
                </select>
                <span asp-validation-for="CountryID" class="text-danger"></span>
            </div>

            <div class="row m-auto">
                <div class="col">
                    <button type="submit" class="btn btn-primary btn-block">  Update Doctor </button>
                </div>
            </div>
        </form>
    </div>
</div>


<script>
        $(function () {
            //Initialize multiple Select2 Elements
            $('.select2').select2()
        });
    $("#frmDoctors").submit(function (event) {
        debugger;
        $.validator.setDefaults({
            ignore: ':hidden, [readonly=readonly]'
        });
        var $form = $('#frmDoctors');
        $.validator.unobtrusive.parse($form);

        if ($("#frmDoctors").valid()) {
            event.preventDefault();
            event.stopImmediatePropagation();

            //For getting multiple select values.
            var selected = [];
            $('#idSpecialities :selected').each(function (i, sel) {
                selected.push($(sel).val());
            });
            console.log(selected);
             
            $.ajax({
                url: '@Url.Content("~/Admin/EditDoctor")',
                type: "POST",
                async: true,
                data: $("#frmDoctors").serialize(),
                success: function (result) {
                    if (result != null && result.statusCode != 200) {
                        toastr.error(result.message);
                        $('#EdiDoctors').modal("show");
                    } else {
                        toastr.success(result.message);
                        GetDoctorsList();
                        $('#EdiDoctors').modal("hide");
                    }
                    console.log(result);
                },
                error: function (ex) {
                    debugger;
                    toastr.error('Invalid Data.');
                    console.log('Failed ');
                }
            });
        }
        else {
            event.preventDefault();
            event.stopImmediatePropagation();
        }
    });
</script>
